<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<description>yzm</description>
		<display-name>yzm</display-name>
		<servlet-name>DrawImage</servlet-name>
		<servlet-class>com.wdy.yzm.DrawImage</servlet-class>
	</servlet>
	<servlet>
		<description>yzm</description>
		<display-name>yzm</display-name>
		<servlet-name>ResultServlet</servlet-name>
		<servlet-class>com.wdy.yzm.ResultServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>DrawImage</servlet-name>
		<url-pattern>/DrawImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResultServlet</servlet-name>
		<url-pattern>/ResultServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
